# Ignore Visual Studio Code settings
.vscode/

# Ignore Visual Studio settings
.vs/
*.suo
*.user
*.sln.docstates

# Ignore build output
bin/
obj/

# Ignore NuGet packages
*.nuget.props
*.paket.props
*.paket.targets
*.lock
paket-files/
packages/
artifacts/

# Ignore user-specific files
*.DS_Store
thumbs.db
*.cache
*.log
*.vscode
*.vssettings
.idea/

# Ignore dotnet artifacts
*.dll
*.exe
*.pdb
*.userprefs
*.log
*.vspscc
*.vssscc
*.pubxml
*.bak